@font-face {
    font-family: 'Roboto-Black';
    src: url(./Fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./Fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./Fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(./Fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(./Fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(./Fonts/Roboto-LightItalic.ttf) format('truetype');
}

@keyframes floater {
    0% {
        transform: translateY(-5%);
        transition: ease 3s;
    }

    50% {
        transform: translateY(5%);
        transition: ease 3s;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header*/

.header {
    font-family: 'Roboto-Black', Verdana, sans-serif;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    float: right;
}

.nav-links li {
    display: inline-block;
    margin: 5px 10px;
}

.nav-links li a {
    font-family: 'Roboto-Regular', Times New Roman;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-links li a::after {
    font-family: 'Roboto-Regular', Times New Roman;
    color: #3882f6;
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
    background: #3882f6;
}



/*Main Section*/

.main-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
}

.title {
    width: 40%;
    align-content: center;
    text-align: left;
}

h1 {
    font-family: 'Roboto-Bold', Verdana, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 500;
    padding-top: 100px;
}

.main-p {
    font-family: 'Roboto-Regular', Times New Roman;
    color: white;
    font-size: 20px;
    font-weight: 250;
    margin-top: 10px;
}

.title-image {
    width: 50%;
    height: auto;
}

.main-image {
    width: 700px;
    height: auto;
    transform: translateY(-5%);
    animation: floater 3s infinite;
    transition: ease 1s;
}

.first-button {
    font-family: 'Roboto-Bold', Times New Roman;
    color: white;
    font-size: 15px;
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    border: 1px solid #3882f6;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.first-button:hover {
    color: white;
    background-color: #cb49cc;
    border: 1px solid #cb49cc;
}


/* information section*/

.information {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 10%;
}

.h2 {
    font-family: 'Roboto-Bold', Times New Roman;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}

aside {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 75px;
    margin-bottom: 50px;

}

.info-box {
    justify-content: space-between;
    flex-direction: row;
    display: inline-block;
    align-items: center;
    width: 150px;
    margin: 0px 50px;
}

.img-info {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 180px;
    height: auto;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-info {
    font-family: 'Roboto-Light', Times New Roman;
    color: #1f2937;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
}




/*Blockquote*/

.blockquote {
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 50px 10%;
    height: 450px;
}

blockquote {
    font-family: 'Roboto-lightItalic', Times New Romans;
    font-size: 36px;
    font-weight: 400;
    color: #1f2937;
    padding-top: 100px;

}

cite {
    font-family: 'Roboto-bold', Times New Romans;
    font-size: 20px;
    margin-left: 870px;
}




/*Sign up section*/

.sign-up-section {
    background-color: #fff;
    padding: 50px 10%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-form {
    background-color: #3882f6;
    border: 5px solid #3882f6;
    border-radius: 5px;
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.action-form-texts {
    height: 50%;
    width: 70%;
    justify-content: center;
    margin-top: 15px;
}

h5 {
    font-family: 'Roboto-Regular', Times New Roman;
    font-size: 18px;
    color: #F9FAF8;
    padding-left: 40px;
    width: 60%;
}

#action-p {
    font-family: 'Roboto-Regular', Times New Roman;
    font-size: 15px;
    color: #F9FAF8;
    padding-left: 40px;
}

.action-button {
    width: 20%;
    height: auto;
    justify-content: center;
    margin-top: 20px;
}

.second-button {
    font-family: 'Roboto-Bold', Times New Roman;
    color: white;
    font-size: 15px;
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.second-button:hover {
    color: #cb49cc;
    background-color: white;
    border: 3px solid white;
}


/*Footer*/

.footer {
    background-color: #1f2937;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.copyright {
    font-family: 'Roboto-Regular', Times New Roman;
    color: white;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

.copyright-logo {
    width: 10px;
    height: auto;
    margin-left: 3px;
}